@model UserUpdate

@{
    ViewData["Title"] = "Atualizar Dados";
}

<h2>Atualizar Dados</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}

@if (TempData["Warning"] != null)
{
    <div class="alert alert-warning">@TempData["Warning"]</div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<form asp-action="Editar" method="post">
    <input type="hidden" name="id" value="@ViewData["UserId"]" />

    <div class="form-group">
        <label asp-for="NomeCompleto"></label>
        <input asp-for="NomeCompleto" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Telefone"></label>
        <input asp-for="Telefone" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>


<script>
    function toggleField(fieldId) {
        const field = document.getElementById(fieldId);
        field.disabled = !field.disabled; // Alterna o estado 'disabled'
        field.focus(); // Foca no campo habilitado para facilitar a edição
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
