@{
    ViewData["Title"] = "Histórico de Pedidos";
}

<div class="container mt-5">
    <h2 class="text-white">Histórico do Pedido</h2>
    <table class="table table-dark table-hover mt-3">
        <thead>
            <tr>
                <th scope="col">Data de emissão</th>
                <th scope="col">Tipo de plano</th>
                <th scope="col">Valor</th>
                <th scope="col">Status</th>
                <th scope="col">Recibo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>03/11/24</td>
                <td>Mensal</td>
                <td>R$ 89,90</td>
                <td><span class="text-success">Pago</span></td>
                <td><a href="#" class="text-info">Mais detalhes</a></td>
            </tr>
            <tr>
                <td>04/10/24</td>
                <td>Mensal</td>
                <td>R$ 89,90</td>
                <td><span class="text-success">Pago</span></td>
                <td><a href="#" class="text-info">Mais detalhes</a></td>
            </tr>
            <tr>
                <td>01/09/24</td>
                <td>Mensal</td>
                <td>R$ 89,90</td>
                <td><span class="text-success">Pago</span></td>
                <td><a href="#" class="text-info">Mais detalhes</a></td>
            </tr>
            <tr>
                <td>08/08/24</td>
                <td>Mensal</td>
                <td>R$ 89,90</td>
                <td><span class="text-success">Pago</span></td>
                <td><a href="#" class="text-info">Mais detalhes</a></td>
            </tr>
            <tr>
                <td>03/07/24</td>
                <td>Mensal</td>
                <td>R$ 89,90</td>
                <td><span class="text-success">Pago</span></td>
                <td><a href="#" class="text-info">Mais detalhes</a></td>
            </tr>
        </tbody>
    </table>
</div>
